<h1 class="px-6 text-center mt-20 uppercase font-hairline text-xl tracking-widest text-gray-600">
  Authentication status quo
</h1>
<div class="flex flex-col sm:flex-row mt-4">
  <div class="bg-red-200 flex-grow flex flex-col items-end p-6 sm:pr-12 pb-10 -mb-4 sm:mb-0 sm:-mr-4">
    <div class="sm:max-w-xs sm:text-right">
      <h1 class="text-xl font-black">
        Create a new password
      </h1>
      <q class="mt-3 block">
        OK, I got this. Probably should create a new password for this, but I'll use that same ol' one. I do feel a bit guilty, though. What? I can't? 12 character limit? OK, then &hellip;
      </q>
    </div>
  </div>
  <div class="z-50 flex items-center justify-center">
    <div class="w-8 h-8 rounded-full bg-gray-700 text-white flex items-center justify-center">
      <span class="-mt-1">
        or
      </span>
    </div>
  </div>
  <div class="bg-orange-200 flex-grow flex flex-col items-start p-6 sm:pl-12 pb-10 -mt-4 sm:mt-0 sm:-ml-4">
    <div class="sm:max-w-xs">
      <h1 class="text-xl font-black">
        Use social sign in
      </h1>
      <q class="mt-3 block">
        OK, let's use this. I hope I won't get too many ads about this specific product category. And also, I hope no one in my family starts seeing ads within this product category, and &hellip;
      </q>
    </div>
  </div>
</div>
<h1 class="px-6 text-center mt-4 uppercase font-hairline text-xl tracking-widest text-gray-600">
  Authentication utopia
</h1>
<div class="w-full bg-green-200 mt-4">
  <div class="sm:max-w-md m-auto p-6 pb-10">
    <h1 class="text-xl font-black">
      Use <%= name %>
    </h1>
    <q class="mt-3 block">
      Oh, what a nice solution to a common problem. One password for everything. This is how it should be. I like it.
    </q>
  </div>

</div>
