<div class="flex justify-center mt-16 mb-24">
  <div class="flex flex-col justify-center items-center bg-gray-200 rounded-lg shadow-xl py-10 max-w-sm sm:max-w-xs px-4 sm:px-6 mx-2">
    <h4 class="text-2xl font-black">
      Try <%= name %>
    </h4>
    <p class="text-center mt-1">
      To get a sense of how this works, you can try signing in to <strong>Sample Ruby App</strong>. 
    </p>
    <%= link_to ('Go to Sample Ruby App &rarr;').html_safe, 'https://ruby.promiseauthentication.org', class: "button external mt-6" %>
  </div>
</div>
