
<div class="mt-12">
  <p class="text-center text-gray-700">
    Follow us on Twitter
  </p>

  <p class="text-center font-black tracking-tight">
    <a href="https://www.twitter.com/PromiseAuth" style="color:#2AA3EF">
      @PromiseAuth
    </a>
  </p>

</div>
