<footer class="text-center text-xs text-gray-500 mt-6 mb-2">
  <span class="tracking-wide">
    <%= link_to name, root_path %> - 2020
  </span>
  <br />
  <span class="italic">
    Created by Anders Lemke-Holstein
  </span>
</footer>
