<% unless relying_party&.logo_data %>
  <%= image_tag('logo.png', class: 'h-4 my-4 ml-4') %>
<% end %>
<% if relying_party %>
  <div class="flex-grow flex justify-between items-center py-2 pl-4">
    <span class="">
      <%= t '.sign_in_with_html', name: name %>
    </span>
  </div>
<% else %>
  <h1 class="tracking-wide pl-4">
    <%= name %>
  </h1>
<% end %>
