<div class="fixed border-b w-full bg-white flex flex-row justify-between items-center">
  <div>
    <a href="<%= dashboard_path %>" class="text-gray-700 flex flex-row items-center">
      <%= image_tag('logo.png', class: 'h-6 m-3') %>
      <span class="">
        <%= name %>
      </span>
    </a>
  </div>

  <div>
    <%= link_to 'Logout', logout_path, class: 'pr-3 text-red-800' %>
  </div>
</div>
<div class="h-12">
</div>
