
<%= link_to 'javascript:history.go(-1);', class: "fixed inset-0 m-2 mb-24 bg-uniq rounded text-white flex flex-col justify-center items-center" do %>
  <div class="text-2xl fixed top-0 right-0 mr-6 mt-6 text-uniq bg-white rounded-full h-8 w-8 flex items-center justify-center pb-1" aria-label="Close this box here">
    ×
  </div>
  <h1>
    Your unique letter or number is:
  </h1>
  <h2 class="text-6xl font-black font-mono">
    <%= letter %>
  </h2>
  <h1>
    Your unique color is:
  </h1>
  <h2 class="text-6xl font-black font-mono">
    <%= color %>
  </h2>
  <p>
    (That's the background color on this box)
  </p>
  <p class="p-2 sm:p-10 text-center">
    Besides always showing the small badge in the bottom right corner, your color will be used for buttons when you confirm signing in to a relying party.
  </p>
<% end %>

<div class="fixed bottom-0 right-0 p-2 w-1/2 mr-8 flex items-end justify-end">
  <p class="text-right mr-3">
    <span class="whitespace-no-wrap">You unique combination of a letter</span> <span class="whitespace-no-wrap">and color will always show here</span>
  </p>
  <p>
    &rarr;
  </p>

</div>
