<div class="px-4 flex items-center">
  <ul class="font-medium text-sm sm:text-base tracking-wide text-secondary flex justify-center w-full flex-wrap align-center">
    <div class="flex">
      <%= navigation_link 'Get started', documentation_get_started_path %>
      <%= navigation_link 'Configuration', documentation_configuration_path %>
      <%= navigation_link '.well-known', documentation_well_known_path %>
    </div>
    <div class="flex">
    </div>
  </ul>
</div>
