.a-turn {
  animation: turn 40s linear infinite;
}
@keyframes turn {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

.a-bow {
  animation: bow 5s infinite;
}
@keyframes bow {
  0% { transform: translateY(0px); }
  10% { transform: translateY(-1px); }
  20% { transform: translateY(0px); }
}

.a-shake {
  animation: shake 3s infinite;
}
@keyframes shake {
  0% { transform: rotate(-2deg); }
  1% { transform: rotate(2deg); }
  2% { transform: rotate(-2deg); }
  3% { transform: rotate(2deg); }
  4% { transform: rotate(-2deg); }
  5% { transform: rotate(2deg); }
  6% { transform: rotate(-2deg); }
  7% { transform: rotate(2deg); }
  8% { transform: rotate(-2deg); }
  9% { transform: rotate(2deg); }
  19% { transform: rotate(2deg); }
  20% { transform: rotate(-2deg); }
  21% { transform: rotate(2deg); }
  22% { transform: rotate(-2deg); }
  23% { transform: rotate(2deg); }
  24% { transform: rotate(-2deg); }
  25% { transform: rotate(2deg); }
  26% { transform: rotate(-2deg); }
  27% { transform: rotate(2deg); }
  28% { transform: rotate(-2deg); }
  29% { transform: rotate(2deg); }
  30% { transform: rotate(0deg); }
}

.a-zoom {
  animation: zoom 4s infinite;
}
@keyframes zoom {
  0% { transform: scale(1); }
  10% { transform: scale(1.05); }
  20% { transform: scale(1); }
}

.a-in {
  animation: in 800ms;
  opacity: 1;
  max-height: 30em;
}
@keyframes in {
  0% { opacity: 0; max-height: 0em; }
  40% { opacity: 0; }
  100% { display: none; opacity: 1; max-height: 30em; }
}

.a-out {
  animation: out 800ms;
  max-height: 0em;
  opacity: 0;
}
@keyframes out {
  0% { opacity: 1; max-height: 30em; }
  40% { opacity: 0; }
  100% { opacity: 0; max-height: 0px; }
}

$slide-distance: 2em;
$slide-duration: 300ms;

.a-slide-in-from-right {
  animation: slide-in-right $slide-duration;
}
.a-slide-in-from-left {
  animation: slide-in-left $slide-duration;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX($slide-distance);
  }
  100% {
    opacity: 1;
    transform: translateX(0em);
  }
}
@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-$slide-distance);
  }
  100% {
    opacity: 1;
    transform: translateX(0em);
  }
}
