.globe.position {
  opacity: 0;
  &.first  { animation:  first 6s infinite; }
  &.second { animation: second 6s infinite; }
  &.third  { animation:  third 6s infinite; }
}
@keyframes first {
  5%  { opacity: 1; }
  28% { opacity: 1; }
  38% { opacity: 0; }
  95% { opacity: 0; }
}
@keyframes second {
  0%  { opacity: 0; }
  28% { opacity: 0; }
  38% { opacity: 1; }
  58% { opacity: 1; }
  68% { opacity: 0; }
}
@keyframes third {
  5%   { opacity: 0; }
  58%  { opacity: 0; }
  68%  { opacity: 1; }
  95% { opacity: 1; }
}
