.markdown {
  @apply leading-normal;
  & > * + *,  & li + li, & li > p + p {
    @apply mt-6;
  }
  & p a img, & p a svg {
    height: 1em;
    display: inline-block;
    color: inherit;
    padding-bottom: 3px;
  }
  & strong {
    @apply text-black font-bold;
  }
  & a {
    color: #104C8D;
    text-decoration: underline;
  }
  & a:visited {
    color: inherit;
  }
  & strong a {
    @apply font-bold;
  }
  & h2 {
    @apply leading-tight text-xl font-bold text-black mb-2 mt-10;
  }
  & h3 {
    @apply leading-tight text-lg font-bold text-black mt-8 -mb-2;
  }
  & code {
    @apply font-mono text-sm inline px-1;
  }
  & pre code {
    @apply block bg-black p-4 rounded;
  }
  & blockquote {
    @apply border-l-4 pl-4 italic;
  }
  & ul, & ol {
    @apply pl-5;
    @screen sm {
      @apply pl-10;
    }
  }
}
