.markdown {
  @apply leading-normal text-base;
  @screen sm {
    @apply px-8 text-lg;
  }
  & > * + *, & li > p + p {
    @apply mt-3;
  }
  & li + li {
    @apply mt-1;
  }
  & p a svg {
    display: inline-block;
    color: inherit;

    &.external_icon {
      height: 0.92em;
      padding-bottom: 0.09em;
    }
    &.internal_icon {
      height: 0.92em;
    }
  }
  & strong {
    @apply text-black font-bold;
  }
  & a {
    color: #104C8D;
    text-decoration: underline;
  }
  & a:visited {
    color: inherit;
  }
  & a[name] {
    text-decoration: none;
    color: inherit;
  }
  & strong a {
    @apply font-bold;
  }
  & h1 {
    @apply leading-tight text-3xl font-bold text-black text-center mb-16;
    background: -webkit-linear-gradient(#03397F, darken(#03397F, 5%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & h2 {
    @apply leading-tight text-xl font-bold text-black mb-2 mt-10;
  }
  & h3 {
    @apply leading-tight text-lg font-bold text-black mt-8 -mb-2;
  }
  & code {
    @apply font-mono text-sm inline;
  }
  & pre code {
    @apply block bg-gray-800 rounded-none p-4 -mx-4 rounded text-white overflow-x-scroll;
  }
  & blockquote {
    @apply border-l-4 my-4 pl-4 italic text-gray-700;
  }
  & ul, & ol {
    @apply pl-5;
    @screen sm {
      @apply pl-10;
    }
  }
  & ul {
    @apply list-disc;
  }
  & ol {
    @apply list-decimal;
  }
}
