<div class="px-4 flex items-center mt-4">
  <ul class="font-medium text-secondary flex justify-center w-full flex-col items-center">
    <div class="flex flex-wrap justify-center items-center">
      <div class="flex justify-center items-center">
        <%= navigation_link 'Getting started', admin_relying_party_path('example.com') %>
        <%= navigation_link 'Security', about_data_path %>
      </div>
      <div class="flex justify-center items-center">
        <%= navigation_link 'Non-profit', about_organisation_path %>
        <%= navigation_link 'Pricing', about_pricing_path %>
      </div>
    </div>
  </ul>
</div>
