<h1 class="text-xl font-black text-center">
  Organisational structure
</h1>

<p>
  <%= name %> will be a non-profit association under danish law. Founded by Anders Lemke-Holstein.
</p>
<p class="bg-red-800 text-white p-6 rounded mt-10">
  This following is a <span class="font-bold">draft</span> of the articles governing the association.
</p>

<%= render partial: 'rules' %>
