<h1 class="text-xl font-black text-center">
  Organisational structure
</h1>

<p>
  <%= name %> is a non-profit association under danish law. Founded by Anders Lemke-Holstein.
</p>
<p>
  This ensures that the organisation is owned by the users, and will never be sold to highest bidder.
</p>

<p>
  <%= link_to "Articles of association", "/vedtaegter.pdf", target: "_blank" %>
</p>

<h2>
  Board
</h2>

<p>
  As of dec 2025, the board consists of:
</p>

<ul class="list-disc list-inside">
  <li>Anders Lemke-Holstein - Chairman</li>
</ul>
