<h1 class="text-xl font-black text-center">
  Organisational structure
</h1>

<p>
  <%= name %> is a non-profit association under danish law founded by Anders Lemke-Holstein.
</p>

<%= render partial: 'rules' %>
