
<h1>
  Pricing
</h1>
<p class="font-bold">
  Promise is a <%= link_to "non-profit organisation", about_organisation_path, class: "" %>. The only goal of requiring relying parties to pay, is to cover the expenses of running the platform.
</p>
<p>
  Relying parties pay for how much they use the platform.
</p>
<p>
  As of september 2020 the exact pricing scheme of <%= name %> is not decided.
</p>
<p>
  The price will be calculated based on each relying party's actual usage of the platform while providing some mimimum threshold so you can get started for free.
</p>
<p>
  The operating budget will be open for everyone to see.
</p>
