
<h1>
  [Work in progress]
</h1>
<p>
  As of may 2020 the exact pricing scheme of <%= name %> is not decided.
</p>
<p>
  What I <em>can</em> say, is that <%= name %> is a non-profit. So you will never pay more than what is fair to keep the employees happy, the servers purring and the security at a maximum.
</p>
<p>
  The price will be calculated based on each relying party's actual usage of the platform while providing some mimimum threshold so you can get started for free.
</p>
<p>
  The operating budget will be open for everyone to see.
</p>
