@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  @apply text-gray-900;
}

.text-secondary {
  @apply text-gray-500;
}

.relying-party-logo {
  width: 100%;
  max-width: 4em;
  max-height: 4em;
}

@layer components {
  /* INPUT */
  .login-input {
    @apply pl-3 py-3 shadow-sm w-full rounded border-gray-700 border-solid border;
  }

  .input-label {
    @apply text-gray-700 text-sm mb-1;
  }

  /* Path: application.components.css */
  .a-turn {
    animation: turn 40s linear infinite;
  }
  @keyframes turn {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
  }

  .a-bow {
    animation: bow 5s infinite;
  }
  @keyframes bow {
    0% { transform: translateY(0px); }
    10% { transform: translateY(-1px); }
    20% { transform: translateY(0px); }
  }

  .a-shake {
    animation: shake 3s infinite;
  }
  @keyframes shake {
    0% { transform: rotate(-2deg); }
    1% { transform: rotate(2deg); }
    2% { transform: rotate(-2deg); }
    3% { transform: rotate(2deg); }
    4% { transform: rotate(-2deg); }
    5% { transform: rotate(2deg); }
    6% { transform: rotate(-2deg); }
    7% { transform: rotate(2deg); }
    8% { transform: rotate(-2deg); }
    9% { transform: rotate(2deg); }
    19% { transform: rotate(2deg); }
    20% { transform: rotate(-2deg); }
    21% { transform: rotate(2deg); }
    22% { transform: rotate(-2deg); }
    23% { transform: rotate(2deg); }
    24% { transform: rotate(-2deg); }
    25% { transform: rotate(2deg); }
    26% { transform: rotate(-2deg); }
    27% { transform: rotate(2deg); }
    28% { transform: rotate(-2deg); }
    29% { transform: rotate(2deg); }
    30% { transform: rotate(0deg); }
  }

  .a-zoom {
    animation: zoom 4s infinite;
  }
  @keyframes zoom {
    0% { transform: scale(1); }
    10% { transform: scale(1.05); }
    20% { transform: scale(1); }
  }

  .a-in {
    animation: in 800ms;
    opacity: 1;
    max-height: 30em;
  }
  @keyframes in {
    0% { opacity: 0; max-height: 0em; }
    40% { opacity: 0; }
    100% { display: none; opacity: 1; max-height: 30em; }
  }

  .a-out {
    animation: out 800ms;
    max-height: 0em;
    opacity: 0;
  }
  @keyframes out {
    0% { opacity: 1; max-height: 30em; }
    40% { opacity: 0; }
    100% { opacity: 0; max-height: 0px; }
  }

  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(2em);
    }
    100% {
      opacity: 1;
      transform: translateX(0em);
    }
  }
  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-2em);
    }
    100% {
      opacity: 1;
      transform: translateX(0em);
    }
  }

  .a-slide-in-from-right {
    animation: slide-in-right 300ms;
  }

  .a-slide-in-from-left {
    animation: slide-in-left 300ms;
  }

  .globe.position {
    opacity: 0;
    &.first  { animation:  first 6s infinite; }
    &.second { animation: second 6s infinite; }
    &.third  { animation:  third 6s infinite; }
  }
  @keyframes first {
    5%  { opacity: 1; }
    28% { opacity: 1; }
    38% { opacity: 0; }
    95% { opacity: 0; }
  }
  @keyframes second {
    0%  { opacity: 0; }
    28% { opacity: 0; }
    38% { opacity: 1; }
    58% { opacity: 1; }
    68% { opacity: 0; }
  }
  @keyframes third {
    5%   { opacity: 0; }
    58%  { opacity: 0; }
    68%  { opacity: 1; }
    95% { opacity: 1; }
  }

  /* BUTTONS */
  .button {
    @apply pt-2 pb-3 px-6 font-medium rounded shadow cursor-pointer text-center;
  }

  .button.small {
    @apply pt-1 pb-2 px-3 font-normal text-sm;
  }

  .button.primary {
    @apply bg-blue-500 text-white;
    &:hover {
      @apply bg-blue-600 shadow-lg;
    }
  }

  .button.disabled {
    @apply !bg-gray-500 !text-white;
    &:hover {
      @apply !bg-gray-600 !shadow-none;
    }
  }

  .button.external {
    @apply bg-red-600 text-white;
    &:hover {
      @apply bg-red-700 shadow-lg;
    }
  }

  .button.transparent {
    @apply bg-transparent text-gray-700 border-gray-100 border;
    &:hover {
      @apply text-gray-800 bg-gray-100;
    }
  }

}

