.globe.position {
  opacity: 0;
  &.first  { animation:  first 6s infinite; }
  &.second { animation: second 6s infinite; }
  &.third  { animation:  third 6s infinite; }
}
@keyframes first {
  0%  { opacity: 1; }
  32% { opacity: 1; }
  33% { opacity: 0; }
}
@keyframes second {
  0%  { opacity: 0; }
  32% { opacity: 0; }
  33% { opacity: 1; }
  65% { opacity: 1; }
  66% { opacity: 0; }
}
@keyframes third {
  0%   { opacity: 0; }
  65%  { opacity: 0; }
  66%  { opacity: 1; }
  100% { opacity: 1; }
}
