<script>
  function toggleDescription() {
    document.getElementById('promise_description').classList.remove('hidden');
    document.getElementById('promise_description').classList.toggle('a-in');
    document.getElementById('promise_description').classList.toggle('a-out');
  }
</script>

<div class="w-full flex flex-col items-start border-t mt-4">
  <a href="javascript:void(toggleDescription());" class="mt-4 text-sm text-secondary">
    <%= t '.what_is' , name: name %>
  </a>
  <a href="javascript:void(toggleDescription());" id="promise_description" class="hidden a-out overflow-hidden">
    <span class="block p-4 rounded-xl bg-blue-50 mt-4">
      <%= t '.description_html' , name: name %>
    </span>
  </a>
</div>
