<div class="px-6 m-auto max-w-xl text-xl">
  <div class="w-16 m-auto my-24">
    <%= image_tag 'logo' %>
  </div>
  <div class="spaced-y-4 mb-24">
    <%= markdown(<<EOS

Let's talk about authentication.

I know, I know &mdash; you'd rather not. I understand. We all hate passwords.

But we can do it better!

Here is my proposal for a new way of thinking about authentication. This leads to a proposal for a centralized service to handle authentication for all digital services.

Authentication is a foundation for our digital presence.



But what if I said, that there is an alternative? A world where you would only have one password, and with that, automagically be signed in to all the digital services you use.

A world free from password managers and yellow notes with handwritten secrets on them.

A world where you do not feel helpless everytime you are presented with a login form.

We can create that world togehter. But it's not easy. It requires all of us to pull together. In the same direction.

EOS
)

  %>
  </div>
</div>
