<%= content_for :content do %>
  <div class="px-6 m-auto max-w-lg">
    <div class="w-16 m-auto my-24">
      <%= image_tag 'logo' %>
    </div>
    <div class="markdown mb-24">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
