<%= content_for :content do %>
  <div class="flex flex-col sm:min-h-screen pb-4 sm:justify-center">
    <div class="sm:pt-2 sm:px-2 sm:flex-grow flex flex-col justify-center">
      <div class="flex items-center">
        <div class="w-full flex items-center flex-col sm:m-auto sm:max-w-md sm:rounded-lg sm:border sm:align-center sm:shadow-lg">
          <%= yield :body %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
