<%= content_for :content do %>
  <div class="m-auto max-w-lg">
    <div class="w-12 sm:w-16 m-auto my-16 sm:my-24">
      <%= link_to image_tag('logo'), root_path %>
    </div>
    <div class="markdown mb-24">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
